:root{
  --bg: #ddd3d3;
  --h1: #222222;
  --hover: #464646;
}

.body-home {
  font-family: "Montserrat", sans-serif;
  background-image: url("img/Librify_desk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  padding: 48px;
}

a{
  color: var(--h1);
  text-decoration: none;
}

.glass{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.151));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 24px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.hero-title {
  display: flex;
  flex-direction: row;
  font-size: 90px;
  align-items: center;
  justify-content: center;
}

.L{
  font-family: "Great Vibes", cursive;
  font-size: 140px;
  margin-right: 20px;
}

.hero-bottom {
  padding: 24px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 24px;
}

.logo {
  display: flex;
  color: var(--bg);
  flex-direction: row;
  font-size: xx-large;
  align-items: center;
  font-weight: 700;
}


.l{
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  margin-right: 10px;
}

.nav-link {
  color: var(--bg);
}

nav-link:hover {
  background-color: var(--hover);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar {
  margin-top: 24px;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 24px;
  width: 50%;
  justify-content: space-around;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--bg);
}

.body-search {
  font-family: "Montserrat", sans-serif;
  background-color: #558BAD;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  padding: 48px;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bg);
  padding: 20px;
  border-radius: 24px;
}

#results {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.book img {
  max-width: 100%;
  border-radius: 12px;
}

.book h3 {
  font-size: 18px;
}

.book p {
  font-size: 14px;
}

button {
  background-color: var(--bg);
  border: none;
  cursor: pointer;
  color: var(--hover);
}

button:hover {
  color: var(--h1);
}

#search {
  border: none;
  background-color: var(--bg);
  color: var(--h1);
  font-size: large;
}

#btn-stop-scan {
  background-color: var(--bg);
  border: none;
  cursor: pointer;
  color: var(--hover);
  border-radius: 24px;
  padding: 12px;
}

#scanner {
  display: none;
}

.library-main {
  display: flex;
  flex-direction: row;
}

#library {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}